.meaning:last-child .btn:before {
    content: '+';
}

.meaning:not(last-child) .btn:before {
    content: '-';
}

.meaning:nth-child(5) .btn {
    display: none;
}
.liStyle {
    display: flex;
    margin: 2em 2em;
    border: 1px solid black;
    padding: 1em;
}